<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
    <title>Document</title>
</head>
<body>
    <img src="images/logo.png" width="30px" alt="logo">

    {{{body}}}
</body>
</html>